<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1 style="background-color: {{color2}};
            color: {{color1}};">***Checkerboard***</h1>
        </div>
        <table>
        {% for i in range(num1//2) %}
            <tr>
                {% for j in range(num2//2) %}
                <td style="background-color: {{color1}}"></td>
                <td style="background-color: {{color2}}"></td>
                {% endfor %}
            </tr>
            <tr>
                {% for j in range(num2//2) %}
                <td style="background-color: {{color2}}"></td>
                <td style="background-color: {{color1}}"></td>
                {% endfor %}
            </tr>
            {% endfor%}
        </table>
    </div>
</body>
</html>